.color__body {
  background-color: #efefef;
  font-family: 'Lato' sans-serif; }

#menu__completo {
  display: block;
  position: relative;
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0.5px -0.5px 4px #8d8d8d;
  background-color: #f8f9fa;
  border-bottom: solid 2px #48a998; }

#menu--sombra {
  background-color: #f8f9fa; }

#menu__estilo {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #48a998;
  width: 100%;
  padding: 20px 25px 10px 25px;
  align-content: flex-end;
  align-items: flex-end; }

#menu__estilo:hover {
  position: relative;
  text-decoration: none;
  color: #00796a;
  width: 100%;
  padding: 20px 25px 10px 25px;
  font-size: 17px; }

.menu__desplegable {
  position: relative;
  text-decoration: none;
  color: #48a998;
  font-size: 14px;
  padding: 10px 10px; }

.menu__desplegable:hover {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: #00796a;
  line-decoration: underline; }

.header__logo {
  width: 100px; }

#footer--caracteristicas {
  display: block;
  position: relative;
  background-color: #f8f9fa;
  border-top: solid 2px #48a998;
  box-shadow: 0.5px 0.5px 2px #8d8d8d; }

#footer__iconos {
  display: block;
  position: relative;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center; }

.footer__iconoindividual {
  margin: 2px 25px 2px 25px; }

.footer__texto {
  diplay: block;
  font-size: 15px;
  color: #6b6b6b;
  text-align: center;
  margin: 15px; }

#footer__texto2, #footer__texto3 {
  text-decoration: none;
  color: #48a998;
  font-size: 13px;
  padding: 5px; }

#footer__texto3 {
  text-decoration: underline; }

.btn_inactivo, .btn_carro, .btn_verdetalle, #btn__producto2, #btnpaginas--formato {
  border: 0.5mm solid #48a998;
  border-radius: 2MM;
  color: #48a998; }

.btn_inactivo:hover, .btn_carro:hover, .btn_verdetalle:hover, #btn__producto2:hover, #btnpaginas--formato:hover {
  border: 0.5mm solid #48a998;
  border-radius: 2MM;
  background-color: #48a998;
  color: #efefef; }

.btn_activo {
  border: 0.5mm solid #48a998;
  border-radius: 2MM;
  color: #00796a;
  background-color: #48a998; }

.btn_activo:hover {
  border: 1px solid #00796a; }

.btn_carro {
  padding: 5px 10px 5px 10px;
  margin-left: 10px; }

#btn__carro2, #btn__producto {
  border: 0.5mm solid #48a998;
  border-radius: 2mm;
  background-color: #48a998;
  color: #efefef;
  padding: 5px 8px 5px 8px;
  display: block;
  position: relative;
  align-content: center;
  align-items: center;
  text-align: center; }

#btn__carro2:focus, #btn__producto:focus {
  box-shadow: 0.5px 2px 10px #00796a;
  text-decoration: none;
  color: #efefef; }

#btn__carro3 {
  border: 0.5mm solid #48a998;
  border-radius: 2mm;
  padding: 5px 0px 5px 0px;
  color: #48a998;
  width: 100px;
  background-color: #f8f9fa; }

#btn__buscar {
  border: solid 1px #48a998;
  border-radius: 1.5MM;
  margin-right: 3px;
  height: 35px; }

#btn__buscar:focus {
  box-shadow: 0.5px 2px 10px #00796a; }

.btn_verdetalle, #btn__producto2 {
  color: #48a998;
  padding: 5px 10px 5px 10px;
  display: block;
  position: relative;
  align-content: center;
  align-items: center;
  text-align: center; }

#btn__dropdown {
  position: relative;
  left: 25px;
  padding: 2px;
  margin: 5px 5px 5px 0px; }

.tituloprincipal--caracteristicas, p1 .tituloprincipalnosotros--caracteristicas {
  color: #48a998;
  font-size: 35px; }

.titulolateral--caracteristicas {
  color: #8d8d8d;
  font-size: 25px; }

.titulosec--caracteristicas {
  color: #6b6b6b;
  font-size: 25px;
  padding-top: 25px; }

.titulotarjetas--caracteristicas {
  color: #6b6b6b;
  font-size: 25px; }

.titulotarjetas--caracteristicas2 {
  color: #6b6b6b;
  font-size: 25px;
  margin: 10px;
  text-decoration: none; }

.texto__img {
  background-color: #48a998;
  padding: 35px;
  text-align: center; }

#descripciones__chicas, #texto--peque {
  font-size: 15px;
  color: #6b6b6b; }

p1 {
  font-size: 20px;
  color: #6b6b6b; }

p2 {
  font-size: 15px;
  color: white; }

h5 {
  color: white;
  font-size: 25px; }

h4 {
  color: #8d8d8d; }

/* INDEX */
#espacio_carrusel {
  padding: 50px 0px 50px 0px;
  position: relative;
  padding-top: 70px; }

#index__destacados {
  background-color: #f8f9fa; }

#destacados__contenedor, #destacados__contenedor2 {
  background-color: #efefef;
  box-shadow: 0 0 2px;
  margin-bottom: 15px; }

#destacados__contenedor:hover, #destacados__contenedor2:hover {
  background-color: #f8f9fa;
  border: 1px solid #48a998; }

#ofertas__contenedor {
  background-color: #f8f9fa;
  dislpay: block;
  position: relative;
  margin-bottom: 25px; }

@media only screen and (max-width: 767px) {
  #ofertas__contenedor {
    left: 30%; } }

@media only screen and (max-width: 1125px) and (min-width: 767px) {
  #ofertas__contenedor {
    left: 15%; } }

/* Contactanos */
#contactanos__formato {
  position: relative;
  top: 100px;
  left: 25px; }

.formulario__formato {
  width: 300px;
  height: 30px;
  transition: all 1s;
  margin-top: 10px;
  border: solid 1px #48a998; }

.formulario__formato:focus {
  width: 350px;
  height: 35px;
  font-size: 15px;
  box-shadow: 0.5px 2px 10px #00796a; }

.formulario__formato--espaciotexto {
  width: 300px;
  height: 150px;
  transition: all 1s;
  color: #6b6b6b;
  border: solid 1px #48a998; }

.formulario__formato--espaciotexto:focus {
  width: 350px;
  height: 250px;
  font-size: 15px;
  color: black;
  box-shadow: 0.5px 2px 10px #00796a; }

.btn_formulario1 {
  display: inline-block;
  position: relative;
  border: 0.5mm solid #48a998;
  border-radius: 1.5MM;
  color: #48a998;
  padding: 2px 27px 2px 27px;
  margin: 0px 0px 10px 3px; }

.btn_formulario1:hover {
  box-shadow: 0.5px 2px 10px #00796a; }

.btn_formulario2 {
  display: inline-block;
  position: relative;
  border: 0.5mm solid #48a998;
  border-radius: 1.5MM;
  color: #efefef;
  background-color: #48a998;
  padding: 2px 48px 2px 48px;
  margin: 0px 3px 10px 0px; }

.btn_formulario2:hover {
  box-shadow: 0.5px 2px 10px #00796a; }

#botones__juntos {
  display: block;
  position: relative;
  margin: 10px 10px 10px 3px; }

#contactanos__agradecimiento {
  display: block;
  position: relative;
  margin-top: 100px; }

#mapa__descripcion {
  font-size: 15px;
  margin: 10px 10px 10px 0px;
  width: 500px;
  text-align: right; }

#txt__agradecimiento {
  position: relative;
  font-style: oblique;
  font-weight: 300;
  color: #6b6b6b;
  text-align: center;
  margin: 30px; }

/* NOSOTROS */
#nosotros__formato {
  position: relative;
  background-color: #efefef;
  border: 0px;
  margin-top: 80px; }

#nosotros__img {
  background-color: #efefef;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: #efefef;
  opacity: 0.8; }

@media only screen and (max-width: 900px) {
  #nosotros__img {
    display: inline-block;
    position: relative;
    z-index: 3;
    opacity: 1; } }

#nosotros__intro {
  background-color: #efefef;
  padding: 0px 5px 5px 5px;
  border: 1px solid #48a998;
  box-shadow: 5px 5px 10px #8d8d8d; }

@media only screen and (max-width: 900px) {
  #nosotros__intro {
    display: inline-block;
    position: relative;
    background-color: #efefef;
    width: 100%;
    top: 120%;
    height: 100px;
    z-index: 4;
    padding: 0;
    border: 0;
    box-shadow: none; } }

#nosotros_trio {
  display: inline-block;
  position: relative;
  margin-top: 35%; }

#nosotros__circulos {
  background-color: #efefef;
  display: inline-block;
  position: relative;
  margin-top: 3%; }

.imagen--circulo {
  width: 260px;
  border-radius: 130px;
  display: inline-block;
  position: relative; }

.nosotros__imgs {
  display: inline-block;
  position: relative;
  margin: 50px 80px 80px 80px; }

.nosotros__img--caracteristicas {
  border-radius: 180px;
  position: absolute;
  left: 0;
  height: 220px;
  width: 220px;
  transition: opacity ease-in-out;
  box-shadow: 5px 5px 10px #8d8d8d; }

#nosotros__img--efect:hover {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  animation-duration: 1s; }

.nosotros__texto {
  display: inline-block;
  position: relative;
  margin: 150px 10px 0px 10px; }

/*VINILOS DECORATIVOS */
#vinilos__formato {
  position: relative;
  margin-top: 100px;
  left: 25px; }

#galeria__formato {
  position: relative;
  left: 25px;
  margin-top: 28px; }

.btn__dropdown {
  color: #efefef;
  background-color: #48a998;
  border: solid #efefef; }

.texto--invisible {
  display: none;
  transition: all .5s;
  text-decoration: none;
  text-size: 20px;
  color: #6b6b6b;
  margin-left: 10px; }

.texto--aparece:hover .texto--invisible {
  display: block;
  transition: all .5s; }

#link--sindeco {
  text-decoration: none; }

#destacados__contenedor2 {
  padding-bottom: 8px;
  margin-bottom: 20px; }

#grupobtn__paginas {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 310px; }

#btnpaginas--formato {
  text-decoration: none;
  color: #48a998;
  margin: 2px;
  margin-top: 50px;
  margin-bottom: 50px; }

#relacionados--texto {
  display: inline-block;
  position: absolute;
  background-color: #f8f9fa;
  width: 150px;
  height: 150px;
  margin-right: 10px; }

#titulo--peque {
  text-decoration: none;
  display: block;
  position: relative;
  margin-left: 25px; }

#texto--peque {
  display: inline-block;
  position: relative;
  margin-left: 25px; }

#relacionados__tarjetas {
  margin-left: 25px;
  margin-right: 25px;
  whidth: 100%; }

#tarjetas__inferiores {
  display: inline-block;
  position: relative;
  margin: 10px 5px 10px 5px; }

@media only screen and (max-width: 765px) {
  #tarjetas__inferiores {
    margin-left: 30%; } }

#tarjetas__inferiores:hover {
  box-shadow: 0.5px 2px 10px #00796a; }

/*PRODUCTO*/
#producto__formato {
  position: relative;
  left: 25px; }

#btn__producto {
  font-size: 18px;
  height: 45px;
  text-align: center;
  margin: 50px 200px 15px 0px; }

#btn__producto2 {
  font-size: 18px;
  height: 45px;
  text-align: center;
  margin: 5px 200px 0px 0px; }

.producto__iconos {
  display: inline;
  position: absolute;
  width: 15px;
  margin-top: 10px; }
