

$colorbody: #efefef;

$colorMenu: #48a998;

$backgrounselect: #f8f9fa;

$colorSelect:#00796a;

$Colortitulos:#48a998;

$ColorTituloLateral: #8d8d8d;

$ColorTituloSecundario: #6b6b6b;

$colorDescripciones: #6b6b6b;

$textobotonesIna: #48a998;

$textobotonesAct: #efefef;

$fondosdecolor:  #48a998;

$colorfondomenufooter: #f8f9fa;

