

 
  $Titulos-size: 35px;
  $TituloLateral-size:25px;
  $TitulosSecundarios: 25px;
  $DescripcionesGrandes: 20px;
  $DescripcionesIntermedias:18px;
  $DescripcionesChicas: 15px;
  $DescripcionesMuyChicas: 13px;